@config "../../tailwind.config.ts";
@import "tailwindcss";

@theme {
  --color-primary: #0d0d0d;
  --color-secondary: #bdbfbf;
  --color-brown: #402319;
  --color-peachy1: #d9b29c;
  --color-peachy2: #8c5e4d;
  --color-black: #030303;

  --animate-links: fade-out 7s;
}

@keyframes fade-out {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p,
span,
pre,
h1,
h2 {
  text-wrap: initial;
  caret-color: transparent;
  user-select: none;
}

h2 {
  @apply text-3xl;
}

.x-spacing {
  @apply xl:px-50 px-5 sm:px-25;
}

.link {
  @apply text-2xl cursor-pointer hover:scale-105 transition duration-500;
}

.image-text {
  @apply text-secondary text-sm absolute bottom-5 bg-primary left-0 px-5 py-2 hover:scale-105 hover:bg-brown transition duration-2000 z-10;
}

.master-name {
  @apply absolute top-5 text-secondary bg-primary text-3xl left-0 px-5 py-2 hover:scale-120 hover:bg-brown transition duration-2000 z-10;
}

form {
  @apply w-full sm:w-2/3 lg:w-1/2 flex flex-col gap-5;
}

label {
  @apply text-xs;
}

input,
textarea {
  @apply w-full bg-secondary rounded min-h-8 px-2 outline-none border-none
 placeholder:text-gray-400 focus:shadow-[0px_0px_15px_1px_white] text-brown
  transition-all duration-200 resize-none;
}

button {
  @apply w-full bg-brown rounded flex justify-center items-center 
  disabled:cursor-not-allowed h-10 cursor-pointer hover:not-disabled:bg-peachy2 
  active:not-disabled:scale-99 transition-all duration-200;
}
